* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

/*--header content---------------------*/
.header-container {
    padding: 2rem;
    text-align: center;
    background-color: rgb(46, 57, 64);
    color: white;
}


/*--Main content---------------------*/
.intro-container {
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
}

.intro-container h2 {
    font-weight: 900;
}

.intro-container .hint {
    font-size: 1.1rem;
    padding: 1rem 3rem;
    color: rgb(164, 162, 162);
    
}

.line1 {
    border: 3px solid black;
}

.line2 {
    margin-top: .25rem;
    border: 1px solid black;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(91, 81, 34, 0.142);
}

.form {
    display: flex;
    flex-direction: column;
    width: 90vw;
}

legend h2 {
    padding: 1rem 0;
    font-weight: 900;
}

.col-1 {
    display: flex;
    flex-direction: column;
    border: none;
}

.col-1 div{
    display: flex;
    flex-direction: column;
}

input[placeholder="Required"] {
    text-align: end;
    font-style: italic;
    padding-right: .5rem;
}

.col-1 input,
.col-1 select {
    height: 44px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
}

.hover:focus{
    box-shadow: 0 0 2px 3px #78aeda, 0 0 2px #78aeda;
    border-radius: 3px; 
    transition: all .4s ease-in-out;
    
}

.col-1 label {
    padding: 1rem 0;
    color: rgb(127, 127, 127);
}

#zip {
    width: 45vw;
}

.line3 {
    border: 2px solid black;
    margin: 2rem 0;

}

.col-2 {
    display: flex;
    flex-direction: column;
    border: none;
}

.col-2 div {
    padding: .5rem 0;
    color: rgb(127, 127, 127);
}

.col-2 div label {
    padding-left: 5px;
    color: rgb(113, 113, 113);
}

.col-2 .hint {
    padding: 1.5rem 0 .5rem 0;
    color: rgb(169, 167, 167);
}

.col-2 textarea {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}

textarea[placeholder="Comment here..."] {
    padding: 1rem;
    font-style: italic;
    opacity: 50%;
}
select option:nth-child(1) {
    padding-left: 1rem;
    font-style: italic;
    opacity: 50%;
}

.col-2 .button {
    margin: 2rem 0;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 900;
    color: white;
    background-color: rgb(29, 183, 173);
}


/*--Footer content---------------------*/
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
    margin: 0 auto;
    font-style: italic;
    color: rgb(190, 190, 190);
    background-color: rgba(91, 81, 34, 0.142);

}


@media screen and (min-width: 768px) {

    .form,
    .intro-container{
        max-width: 760px;
    }

    hr{
        width: 760px;
    }
    .form {
        padding: 1rem;
    }
    .col-1 div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .col-1 div input,
    .col-1 select{
        width: 526px;
    }
    #zip{
        width: 131.5px;
    }
    
}